---
import Post from "../components/Post.astro";
import Layout from "../layouts/Layout.astro";

const url =  `${import.meta.env.PUBLIC_API_URL}/posts?populate=imagen`
const respuesta = await fetch(url)
const {data} = await respuesta.json()

console.log(data)
---
<Layout title="Guitarla - Blog">
    <main class="contenedor">
        <h1 class="heading">Blog</h1>

        <div class="grid">
            {data?.map(post => (
                <Post 
                    titulo={post.attributes.titulo}
                    url={post.attributes.url}
                    contenido={post.attributes.contenido}
                    imagen={post.attributes.imagen.data.attributes.formats.medium.url}
                    publishedAt={post.attributes.publishedAt}
                />
            ))}
        </div>
    </main>
</Layout>
